.items-list-header {
  display: flex;
  padding: $spacing-sm $spacing-md;
  background-color: $secondary-color;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-sm;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  color: $text-color-alt;

  .header-details {
    flex: 1;
    display: flex;
    gap: $spacing-md;

    span {
      flex: 1;
      text-align: left;
    }
    
    .actions {
      text-align: right;
    }
  }
}
