.items-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: $spacing-sm;

  .item {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover .item-content {
      background-color: $accent-color;
      cursor: pointer;
    }

    &.active .item-content {
      background-color: $accent-color;
    }
    
    /* Item Content */
    .item-content {
      display: flex;
      padding: $spacing-sm;
      gap: $spacing-sm;
      align-items: center;
      background-color: $secondary-color;
      border-radius: $border-radius;
      
      label {
        flex: 1;
      }

      .actions {
        flex: 0;
        display: flex;
        font-size: $font-size-md;
        gap: $spacing-md;
        margin: 0 $spacing-sm;

        a {
          color: $text-color;
          transition: color 0.2s ease-in;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    .item-foldout {
      display: block;
      overflow: hidden;
      max-height: 0;
      padding: 0;
      transition: max-height 0.3s ease, padding 0.3s ease;

      &.expanded {
        max-height: max-content;
        transition: max-height 0.3s ease, padding 0.3s ease;
      }

      &.collapsed {
        max-height: 0;
        padding: 0;
      }
    }
  }
}
