.success-message {
  color: var(--success-color);
  font-weight: bold;
  font-size: var(--font-size-md);
  margin-top: var(--spacing-xs);
  text-align: center;
}

.error-message {
  color: var(--error-color);
  font-weight: bold;
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xs);
  text-align: center;
}

.loading-message {
  font-weight: bold;
  font-size: var(--font-size-md);
  margin-top: var(--spacing-xs);
  text-align: center;
}