.panel,
.sub-panel {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;

    .actions {
      flex: 0;
      display: flex;
      font-size: var(--font-size-lg);
      gap: var(--spacing-md);
      justify-content: flex-end;
      align-content: center;
    }
  }
}

.panel {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  min-width: 400px;

  .header {
    margin: var(--spacing-sm);

    .title {
      flex: 1;
      font-weight: bold;
      color: var(--text-color);
    }
  }
}

.sub-panel {
  .header {
    .title {
      flex: 1;
      font-weight: bold;
      color: var(--text-color);
    }

    .actions {
      flex: 0;
      font-size: var(--font-size-lg);
      align-content: center;
    }
  }
}

.modal {
  
}
