.panel,
.sub-panel {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;

    .actions {
      flex: 0;
      display: flex;
      font-size: $font-size-lg;
      gap: $spacing-md;
      justify-content: flex-end;
      align-content: center;
    }
  }
}

.panel {
  border: 1px solid $border-color;
  padding: $spacing-md;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  min-width: 400px;

  .header {
    margin: $spacing-sm;

    .title {
      flex: 1;
      font-weight: bold;
      color: $text-color;
    }
  }
}

.sub-panel {
  .header {
    .title {
      flex: 1;
      font-weight: bold;
      color: $text-color;
    }

    .actions {
      flex: 0;
      font-size: $font-size-lg;
      align-content: center;
    }
  }
}
